.header {
    width: 326px;
    margin: 10px auto;
    clear: both;
}
.header__data {
    font-variant: small-caps;
    font-size: 15px;
    font-weight: 900;
    color: #34495e;
    border-radius: 3px;
    margin: 3px;
    height: 40px;
    width: 150px;
    line-height: 40px;
    overflow: hidden;
    float: left;
    text-align: center;
}
